CMakeLists.txt.user
.vscode/settings.json
cmake-build-debug/*
cmake-build-debug-visual-studio/*
cmake-build-default/*
cmake-build-minsizerel/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
bxtk-build/*
bxtk-install/*
bxtk-build-web/*
bxtk-install-web/*
bxtk-web-build/*
bxtk-android-build/*
bxtk-android-arm64-build/*
bxtk-web-install/*
out/*
.vs/*
vcpkg_installed/*
CMakeUserPresets.json
.env
*.DS_Store
*.o
*.a
*.geany